@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quintessential&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Great+Vibes&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
:root {
  --bg-blanco: #f2f2f0;
  --bg-color-1: #79132b;
  --bg-color-2: #a66963;
  --bg-color-3: #260101;
  --bg-color-4: #a66963;

  --txt-body: #000000;
  --white: #ffffff;
  --gray: #989898;

  --bg-verde-opacity-50: #79132b;

  --bg-section-light: #fffaec;
  --bg-section-dark: #2c2c2c;
  --bg-footer: #8c7f65;

  --bg-gradient: linear-gradient(
    131deg,
    #eee6da -3.63%,
    #79132b 70.5%,
    #590202 100.94%
  );

  --font-titulos: "Playfair Display", serif;
  --font-subtitulos: "Great Vibes", cursive;
  --font-texto: "PT Serif", serif;

  --img-photo-home: url(../img/Photo-home.webp);
  --img-F1: url(../img/c1.jpeg);
  --img-F2: url(../img/c2.jpeg);
  --img-F3: url(../img/c3.jpeg);
  --img-F4: url(../img/portada.jpeg);
  --img-F5: url(../img/c2.jpeg);

  --img-overlay-stain-1: url(../img/stain-1.svg);
  --img-overlay-stain-2: url(../img/stain-2.svg);

  --img-overlay-points-1: url(../img/points-2.svg);
  --img-overlay-points-2: url(../img/points-2.svg);
  --img-overlay-leaf-1: url(../assets/img/);
  --img-overlay-leaf-2: url(../img/leaf-2.svg);
  --img-overlay-leaf-3: url(../img/leaf-3.svg);
}
